<header class="header">
    <div class="header__content">
        <div class="header__logo">
            NotesApp
        </div>
        <div class="header__log">
            <a href="/login" class="header__link header__login-link">Log in</a>
            <a href="/" class="header__link header__register-link">Register</a>
        </div>
    </div>
</header>


